<!DOCTYPE html>
<head>
  <title>NodePlanet</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="NodePlanet is a user generated content sandbox game based on Node with tens of thousands of active players. Play today!">
  <meta name="author" content="NodePlanet, NOP">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{ style('foundation') }}
  {{ style('dark-style') }}
</head>
<body>
<div class="site-wrap">
  @include('parts.topbar')
  <div class="grid-x grid-margin-x">
    @include('parts.sidebar')
    <div class="auto cell no-margin">
    <div class="grid-container site-container-margin">
      <div class="main-site-push"></div>
      @!section('content')
    </div>
  </div>
@include('parts.footer')
{{ script('https://kit.fontawesome.com/84513ba4c6.js') }}
{{ script('https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js') }}
{{ script('https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/foundation.min.js') }}
{{ script('main') }}
</body>

